<main class="home-page">
  <section class="card">
    <h1>#1 Binding Text, Properties, Attributes</h1>

    <div class="field">
      <label>Object binding</label>
      <div class="value">{{ user.name }}</div>
    </div>

    <div class="field">
      <button class="btn" (click)="sayHello()">Click me to show text</button>
    </div>

    <div class="field">
      <label>Text</label>
      <div class="value">{{ title }}</div>
    </div>

    <div class="field">
      <label>Property binding</label>
      <button class="btn" (click)="toggleDisabled()">Toggle state
      </button>            
      <div>{{ isDisabled ? 'Enable' : 'Disable' }}</div>
    </div>

    <div class="field">
      <label>Attribute binding</label>
      <button class="btn btn-secondary" [attr.aria-label]="'buy-button-' + cartCountParent">
        Mua (aria)
      </button>
    </div>

    <div class="field">
      <label>innerHTML</label>
      <div class="html-box" [innerHTML]="htmlSnipet"></div>
    </div>

    <div class="field">
      <label>Class & style binding</label>
      <div class="status-box" [class.active]="active" [style.color]="active ? 'green' : 'gray'">
        Trạng thái : {{ active ? 'Active' : 'Inactive' }}
      </div>
    </div>
  </section>

  <section class="card">
    <h1>#2 Two-way binding</h1>

    <label class="field-inline">
      Your name:
      <input class="input-text" [(ngModel)]="userName" placeholder="Nhập tên" />
    </label>
    <p class="value">Bạn đang nhập: {{ userName }}</p>
  </section>

  <section class="card">
    <h1>#3 Directive</h1>

    <div class="field">
      <button class="btn" (click)="isVisible = !isVisible">
        {{ isVisible ? 'Ẩn' : 'Hiện' }} 
      </button>
    </div>

    <div class="field">
      <label>Structural directive</label>
      <div class="box" *ngIf="isVisible">Hello world</div>
      <ul class="list">
        <li *ngFor="let student of students">{{ student.name }}</li>
      </ul>
    </div>

    <div class="field">
      <label>Attribute directive</label>
      <div [ngClass]="{ active: isActive }" class="box">Shopping Cart</div>
      <div class="box"
           [ngStyle]="{ color: isActive ? 'green' : 'gray', padding: '8px', border: '1px solid #ccc' }">
        Dùng ngStyle để đổi màu và padding theo điều kiện
      </div>
    </div>
  </section>

  <section class="card">    
    <app-product-item
      [cartCount]="cartCountParent"
      (buy)="onBuyParent()"
      [products]="productsParent"
      (dataEvent)="handleDeleteParent($event)">
    </app-product-item>
  </section>
</main>

