    <!-- ----------------------------------------------------------------------------------- -->
    <h1>#1 Binding Text, Properties, Attributes, Event and @Input, @Output of Parent and child component</h1>
    <!-- Binding object properties -->    
    <div>{{ user.name }}</div>

    <!-- Event binding -->
    <button (click)="sayHello()">Click me to show text</button>
    
    <!-- Text -->
    <div>{{ title }}</div>

    <!-- Properties binding -->
    <button [disabled]="isDisabled" (click)="toggleDisabled()">Toggle Disabled</button>

    <!-- Attributes binding -->
    <button [attr.aria-label]="'buy-button-' + cartCountParent">Mua (aria)</button>

    <!-- innerHTML -->
    <div [innerHTML]="htmlSnipet"></div>

    <!-- Class & style binding -->
    <div [class.active]="active" [style.color]="active ? 'green' : 'gray'"> 
        Trạng thái : {{ active ? 'Active' : 'Inactive' }}
    </div>

    <!-- ----------------------------------------------------------------------------------- -->
    <h1>#2 Two way binding</h1>
    <label>
        Your name: 
        <input [(ngModel)]="userName" placeholder="Nhập tên" />
    </label>
    <p>{{userName}}</p>
    
    <!-- ----------------------------------------------------------------------------------- -->
    <h1>#3 Directive: </h1>
    <h4>Structural directive: thay đổi cấu trúc DOM, thường dùng dấu: *ngIf, *ngFor </h4>
    <div *ngIf="isVisible">Hello world</div>
    <ul>
      <li *ngFor="let student of students">
        {{ student.name }} 
      </li>
    </ul>

    <h4>Attribute directive: thay đổi giao diện hoặc hành vi của phần tử hiện có: ngClass, ngStyle </h4>
    <div [ngClass]="{'active': isActive}">Shopping Cart</div>
    <div [ngStyle]="{ color: isActive ? 'green' : 'gray', padding: '8px', border: '1px solid #ccc' }">
      Dùng ngStyle để đổi màu và padding theo điều kiện
    </div>

    <!-- #4 Pass props -->
    <!-- Child component with Input/Output -->             
    <app-product-item [cartCount]="cartCountParent" 
                      (buy)="onBuyParent()"
                      [products]="productsParent">
    </app-product-item>

